- title @survey.name
%p
  %strong Description:
  =@survey.desc
  .audioplayer
    %audio{:src => @survey.spoken.url, :controls => 'controls', :type => @survey.spoken.content_type}
  =link_to "Start Survey", start_current_survey_path(@survey.id)