- title "Clinical Survey Tool"

%i
  The Clinical Survey Tool is a web-application designed to assist small clinics with data-gathering and analysis. It is designed to provide clinicians with constant patient feedback be allowing them to create, collect, and analyze exit interviews for patients.

%i
  To learn more visit the 
  =link_to "Github Repository", 'http://github.com/justinwiley/surveytool'

%p

%table.styled
  %tr
    %th Name
    %th Number of Questions
    %th Last Edited
  - for survey in @surveys
    %tr
      %td= link_to survey.name, survey_path(survey)
      %td= survey.questions.count
      %td= survey.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime "%m-%d-%Y"

%p= link_to "New Survey", new_survey_path
